* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/* Grid */
.grid {
    display: grid;
    height: 500px;
    width: 500px;
    border: 2px solid #2a9d8f;
}

.grid-element {
    user-select: none;
}

.show-line {
    border: 1px solid #e9c46a;
}


/* Container */
.container {
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: space-around;
    align-items: center;
}

.btn {
    padding: 4px;
    border-radius: 8px;
    border: 2px solid #0D181C;
    background-color: #264653;
    color: white;
    font-size: 24px;
    width: 100%;
}


/* Slider */
.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50px;
    justify-content: space-between;
}

.slider-container span {
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 16px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    border-radius: 10px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #2a9d8f;
    cursor: pointer;
    border-radius: 100%;
}

/* Rainbow btn */
.rainbowBtn {
    background-color: #ff858d;
}

.active {
    background-color: #afc97e;
}

/* Color Input */
input[type="color"] {
    padding: 0;
    width: 150%;
    height: 150%;
    margin: -25%;
}

.colors {
    overflow: hidden;
    width: 50px;
    height: 50px;
    /* optional formatting below here */
    border-radius: 50%;
    box-shadow: 1px 1px 3px 0px grey;
    margin: 1em;
}